@CHARSET "ISO-8859-1";

.x-grid-cell-inner  {
    line-height: 25px !important;
}
.x-grid-with-row-lines .x-grid-item{
	border: none !important;
}
.x-panel-header-default, .x-panel-header-default .x-tool-img{
	background-color: white !important;
}

#logo{
	background-image:url('../icons/logo.png');
	background-repeat: no-repeat;
    width: 180px;
    height: 130px;
    margin-top: 0px;
    margin-left: 50px;
    padding: 0px;
}
.x-mask {
    opacity: .9 !important;
    background: rgb(255, 255, 255) !important;
}
.x-mask.splashscreen {
    background-color: white;
    opacity: 1;
}
.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-size: 16px;
    font-weight: normal;
   /*padding: 30px 5px 5px 5px;*/
    border: none;
    background-color: transparent;
    background-position: top center;
}
.x-btn.toolbar .x-btn-inner{
    outline: none !important;
    border: none !important;
    background: none !important;
    background-color: rgb(255,255,255) !important;
    color: black;
    background-color: rgb(255,255,255) !important;
}
.x-btn.x-btn-over.toolbar {
    color: red !important;
    outline: none !important;
    background: none !important;
    border: none !important;
    background-color: rgb(255,255,255) !important;
}
.x-btn.x-btn-focus.toolbar {
    outline: none !important;
    background: none !important;
    border: none !important;
}

.x-btn.toolbar.pressed-button .x-btn-inner {
    outline: none !important;
    background: none !important;
    border: none !important;
    background-color: rgb(255,255,255) !important;
}
.x-btn-default-small.toolbar{
    outline: none !important;
    background: none !important;
    border: none !important;
}
.companyName .x-form-display-field{
    font-size: 24px !important;
}
.infoAboutCompany .x-form-textarea{
    border-radius: 5px !important;
    font-size: 15px !important;
}